.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}

.input-container input {
    border: 1px solid #A2A09F;
}

.button-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    15% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

.errorMessage {
    animation: fadeInOut 3s ease-in-out;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}