//overwrite theme variables


$primary: #957D94;
$secondary:#A2A09F;
$light: #F9F7F7;
$dark: #281D25;
$info:#5c5b5c;
$success:#62a064;
$warning:#df902c;
$danger:#f44336;


//!keep this import at the bottom!
@import "~bootstrap/scss/bootstrap.scss";

